body {
	background: url("images/trainstation.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.jumbotron {
	margin-top: 20px;
	background-color: #626262;
	color: white;
}